@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-aos-delay="3200"] [data-aos],
[data-aos][data-aos][data-aos-delay="3200"] {
  transition-delay: 3200ms;
}
body[data-aos-delay="3400"] [data-aos],
[data-aos][data-aos][data-aos-delay="3400"] {
  transition-delay: 3400ms;
}
body[data-aos-delay="3600"] [data-aos],
[data-aos][data-aos][data-aos-delay="3600"] {
  transition-delay: 3600ms;
}
body[data-aos-delay="3800"] [data-aos],
[data-aos][data-aos][data-aos-delay="3800"] {
  transition-delay: 3800ms;
}
body[data-aos-delay="4000"] [data-aos],
[data-aos][data-aos][data-aos-delay="4000"] {
  transition-delay: 4000ms;
}
body[data-aos-delay="4200"] [data-aos],
[data-aos][data-aos][data-aos-delay="4200"] {
  transition-delay: 4200ms;
}
